[Unit]
Description=Refactor flashing server
After=network.target

[Service]
WorkingDirectory=/var/www/html
ExecStart=/usr/bin/gunicorn server:app --worker-class gevent --workers=1 --timeout 10000
KillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
