[Unit]
Description=Refactor flashing curses ui
Conflicts=getty@tty1.service
Before=getty.target

[Service]
ExecStart=/usr/local/bin/reflash-curses.py
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
SendSIGHUP=yes
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
