[Unit]
Description=Refactor flashing server
After=network.target

[Service]
WorkingDirectory=/var/www/html
ExecStart=/usr/bin/gunicorn reflash:app

[Install]
WantedBy=multi-user.target
