.boot-media {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 49%;
}

.flash-media {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#images{
    text-align:center;
}
